<div class="container">
  <span style="font-weight: 900; color: white; position: absolute; cursor: pointer" (click)="onBackClick()">
    <mat-icon style="width: 3rem; height: 3rem; font-size: 3rem;">keyboard_arrow_left</mat-icon>
  </span>
  <p class="name">Potrzebna doraźna pomoc?</p>
  <p class="paragraph">
    Jeżeli potrzebujesz pilnie przygotować się do sprawdzianu albo kolokwium, zadzwoń bez zbędnej zwłoki. Nie jestem
    cudotwórcą i nie nauczę Cię (lub Twoje dziecko) obszernego materiału z matematyki w jeden wieczór.
  </p>
  <p class="paragraph">
    Nauka matematyki lubi częste lecz nie zbyt długie spotkania. Zdarzają się jednak sytuacje wyjątkowe... Może uda nam
    się znaleźć wspólnie kilka godzin i dać z siebie wszystko by zdobyć pozytywną ocenę?
  </p>
  <p class="paragraph">
    Nie pisz maila, <button mat-button (click)="onContactClick()" style="color: white; border: 1px solid white;">zadzwoń
      od razu</button>.
  </p>
</div>