<div class="container">
  <span style="font-weight: 900; color: white; position: absolute; cursor: pointer" (click)="onBackClick()">
    <mat-icon style="width: 3rem; height: 3rem; font-size: 3rem;">keyboard_arrow_left</mat-icon>
  </span>
  <p class="name">Egzamin maturalny</p>
  <p class="paragraph">
    Jeżeli chcesz napisać podstawowy egzamin z matematyki na satysfakcjonującym Cię poziomie, wystarczy że
    wykonasz z tygodnia na tydzień zestaw <span style="font-weight: 900; letter-spacing: 2px;"> kilkudziesięciu
      zadań</span>,
    który dla Ciebie przygotuję. Zajmie Ci to łącznie około 6 godzin.
  </p>
  <p class="paragraph">
    Jeżeli jednak interesuje Cię dobrze zdany egzamin z matematyki na poziomie rozszerzonym, będziesz musiał zmierzyć
    się z nieco większą liczbą zadań o charakterze <span
      style="font-weight: 900; letter-spacing: 2px;">eksploracyjnym</span>.
    <br><br>
    Gdy wygospodarujesz na nie około 10 godzin w tygodniu,
    dasz radę.
    Bez takiego wysiłku włożonego pod moim kierunkiem, bardzo dobry wynik na maturze rozszerzonej nie będzie raczej
    możliwy.
  </p>
  <p class="paragraph">
    Egzamin maturalny z matematyki naprawdę nie jest trudny. Trudna jest <span
      style="font-weight: 900; letter-spacing: 2px;">
      samodyscyplina i umiejętność mądrego gospodarowania czasem. </span>
    Potrafię Ci w tym pomóc.
  </p>
  <p class="paragraph">
    <button mat-button (click)="onContactClick()" style="color: white; border: 1px solid white;">Dzwoń</button>
    bez zbędnej zwłoki.
  </p>
</div>