<div class="container">
  <span style="font-weight: 900; color: white; position: absolute; cursor: pointer" (click)="onBackClick()">
    <mat-icon style="width: 3rem; height: 3rem; font-size: 3rem;">keyboard_arrow_left</mat-icon>
  </span>
  <p class="name">Zdarza się ...</p>
  <p class="paragraph">
    Jeżeli nie zdałeś matury, to znaczy że pracowałeś trochę za mało. Potrafię przygotować Cię do egzaminu poprawkowego
    <span style="font-weight: 900; letter-spacing: 2px;">o ile uczciwie będziesz wykonywał to, co dla Ciebie
      przygotuję</span>.
  </p>
  <p class="paragraph">Rękawy do góry, w sierpniu uda się.</p>
  <p class="paragraph">
    Im wcześniej zaczniemy, tym lepiej. Nauka matematyki nie lubi pośpiechu. Spotykając się dwa razy w tygodniu,
    jestem gotowy nauczyć Cię tak, byś zdał maturę.
  </p>
  <p class="paragraph">
    <button mat-button (click)="onContactClick()" style="color: white; border: 1px solid white;">Dzwoń</button>
    bez zbędnej zwłoki.
  </p>
</div>