<div class="container">
  <span style="font-weight: 900; color: white; position: absolute; cursor: pointer" (click)="onBackClick()">
    <mat-icon style="width: 3rem; height: 3rem; font-size: 3rem;">keyboard_arrow_left</mat-icon>
  </span>
  <p class="name">... zostało mało czasu</p>
  <p class="paragraph">
    Intensywny syntetyczny 16-godzinny kurs przeznaczony dla tych, którzy w ostatniej chwili chcą zrobić wszystko aby
    dobrze napisać maturę z matematyki.
  </p>
  <p class="paragraph">
    Cztery wolne dni:
    <span style="font-weight: 900; letter-spacing: 2px;">1 maja</span>,
    <span style="font-weight: 900; letter-spacing: 2px;">2 maja</span>,
    <span style="font-weight: 900; letter-spacing: 2px;">3 maja</span>
    i <span style="font-weight: 900; letter-spacing: 2px;">4 maja</span>
    <span style="font-weight: 900; letter-spacing: 2px; margin-left: 1rem;">po cztery godziny lekcyjne</span> (trzy
    godziny zegarowe) <span style="font-weight: 900; letter-spacing: 2px;">w ciągu dnia</span>
    staniemy na rzęsach powtarzając materiał matematyki szkoły średniej i rozwiązując arkusze maturalne z porzednich
    lat.
  </p>
  <p class="paragraph">
    Gotowi?
  </p>
</div>