<div class="container">
  <div class="action-container">
    <div class="logo-container">
      <p class="logo">matEm@t</p>
      <p class="name">dr maciek ziemba</p>
    </div>
    <div class="call-to-action-container">
      <p class="button" (click)="onStartClick()">Start</p>
    </div>
  </div>

  <div class="image-container">
    <div class="stick"></div>
    <img mat-card-image src="docs/assets/20240411_085504.png" class="ceo-image" width="400"
      alt="photo of the CEO of matEmat">
  </div>
</div>