<div class="container">
  <span style="font-weight: 900; color: white; position: absolute; cursor: pointer" (click)="onBackClick()">
    <mat-icon style="width: 3rem; height: 3rem; font-size: 3rem;">keyboard_arrow_left</mat-icon>
  </span>
  <p class="name">Trening bez pośpiechu ...</p>
  <p class="paragraph">
    Jeżeli chcesz aby Twoje dziecko zostało dobrze przygotowane do egzaminu 8-klasisty w maju 2025 roku, zadzwoń lub
    napisz aby ustalić z góry terminaż lekcji.
    Czternastolatkowie potrzebują pracować spokojnie i bez stresu.
  </p>
  <p class="paragraph">
    Startując we wrześniu, regularne spotkania jeden raz w tygodniu wystarczają by ósmoklasista powtórzył (nauczył się)
    materiał(u) matematyki szkoły podstawowej.
    Systematyczne lekcje pomogą również wypracować dobrą ocenę na koniec ósmej klasy.
    Przerobimy też wszystkie arkusze egzaminacyjne z ostatnich lat.
  </p>
  <p class="paragraph">
    Zapraszam do kontaktu.
  </p>
</div>