<div class="container">
  <span style="font-weight: 900; color: white; position: absolute; cursor: pointer" (click)="onBackClick()">
    <mat-icon style="width: 3rem; height: 3rem; font-size: 3rem;">keyboard_arrow_left</mat-icon>
  </span>
  <p class="name">dr maciek ziemba</p>
  <p class="paragraph">
    Adiunkt dydaktyczny pracujący na jednym z wydziałów Politechniki Lubelskiej. Od kilkunastu lat uczy matematyki
    studentów informatyki,
    elektrotechniki, mechatroniki...
  </p>
  <p class="paragraph">
    W wolnym czasie przygotowuje maturzystów i ósmoklasistów do majowych egzaminów. Dwudziestoletnie doświadczenie w
    prowadzieniu korepetycji z matematyki przekłada się na wysokie wyniki uzyskiwane przez uczniów.
  </p>
  <p class="paragraph">
    Wymaga dużej ilości pracy i zaangażowania od swoich kursantów. Potrafi motywować, doceniać i korygować. Prywatnie
    mąż
    kochanej żony i ojciec piątki dzieci.
  </p>
</div>